
body {    
    background-position: right;
    background-repeat: no-repeat;
    height: 100%;
}

.card {
    background-color: #f5f5f5;
    width: 30%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.list-group-item {
    background-color: #f5f5f5 !important;
}

.card-img-top {    
    max-width: 100%;
    vertical-align: top;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
} 

.logo {
    width: 30%;
    margin: auto;
    align-items: center;
    justify-content: center;
}

a {
    color: black !important;
} 

.redes {
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
} 

.footer-container-flex {
    width: auto;
    max-width: 680px;
    padding: 0 15px;
} 

.footer {
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 1px solid black;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 0;
    padding-bottom: 0;
    color: black;
    text-align: center;
    text-decoration: none;
}

footer p {
    color: black;
    margin-bottom: 5px;
    margin-top: 5px;
    text-align: center;
}