body {
    background-color:var(--color-background);
}

.card a, h1, h4{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card a {
    color: black;
    transition: 200ms;
}

.card a:hover {
    color: black;
}

