@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
:root {
    font-size: 100%;
    --color-background: #92f04c;
    --color-primary-lighter: #9871F5;
    --color-primary-light: #916BEA;
    --color-primary: #18430b;
    --color-primary-dark: #774DD6;
    --color-primary-darker: #6842C2;
    --color-secondary: #04D361;
    --color-secondary-dark: #04BF58;
    --color-title-in-primary: #FFFFFF;
    --color-text-in-primary: #D4C2FF;
    --color-text-title: #32264D;
    --color-text-complement: #9C98A6;
    --color-text-base: #6A6180;
    --color-line-in-white: #E6E6F0;
    --color-input-background: #F8F8FC;
    --color-button-text: #FFFFFF;
    --color-box-base: #FFFFFF;
    --color-box-footer: #FAFAFC;
}

h6 {
    /* cores da paleta */
    color: #92f14c;
    color: #18430b;
    color: #62d12e;
    color: #4b9424;
    color: #318313;
    color: #1a5e06;
    color: #2c5816;
    color: #74ac40;
    color: #589c3c;
    color: #244d24;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
    border: none;
}

html, body {
    min-height: 100vh;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: var(--color-background);
}

.card a, h1, h4 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card a {
    color: black;
    transition: 200ms;
}

.card a:hover {
    color: var(--color-secondary);
}

.container {
    width: 90%;
    max-width: 940px;
    margin: 0 auto;
}

header, footer {
    background-color: black;
    color: white;
    width: 100%;
    padding: 32px 0;
    text-align: center;
}

header div.container {
    display: grid;
    grid-template-columns: 220px auto 280px;
    align-items: center;
    grid-gap: 24px;
}

header div.container a {
    justify-self: start;
}

.logo h1 {
    color: white;
    font-size: 36px;
    line-height: 46px;
    transition: 200ms;
}

.logo h1:hover {
    color: var(--color-secondary);
}

.logo h2 {
    color: var(--color-secondary);
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 2px;
}

/* buscador */

.search input {
    width: 100%;
    padding: 8px 16px;
    border-radius: 2px;
    font-size: 16px;
}

/* menu */

nav.primary ul {
    display: flex;
    justify-content: space-between;
}

nav.primary ul li a {
    display: flex;
    align-items: center;
    color: white;
    transition: 200ms;
}

nav.primary ul li a i {
    margin-right: 8px;
}

nav.primary ul li a:hover {
    color: var(--color-secondary);
}

.button {
    background-color: #318318;
    color: white;
    display: block;
    margin: 16px 0;
    padding: 12px 16px;
    width: 100%;
    border-radius: 4px;
    /* para colocar o botão no grid para baixo */
    align-self: end;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    transition: all 0.4s;
}

.button:hover {
    background-color: var(--color-primary);
}

footer {
    padding: 16px 0;
}

footer a {
    color: white;
    transition: 200ms;
}

footer a:hover {
    color: var(--color-secondary);
}