body {
    background-color: #efefef;
}

.cart.container {
    background-color: #f8f8f8;
    width: 90%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .6);
    border: 1px solid #efefef;
    border-radius: 4px;
    padding: 32px 24px;
    margin: 32px auto;
    display: grid;
    grid-gap: 16px;
}

.cart.container h3 {
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.7px;
    text-transform: uppercase;
    font-weight: bold;
    margin-top: 16px;
    margin-bottom: 16px;
    color: #28a745;
    text-align: center;
}

.delete {    
    border: none;
    padding: 0;
    cursor: pointer;
}

.btn.btn-success.delete {
    display: inline-block;
    font-weight: 400;   
    text-align: center;
    vertical-align: middle;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    padding: .375rem .75rem;
    background-color: red;
    border-color: red;
    transition: 200ms;
}

.btn.btn-success.delete:hover {
    background-color: var(--danger);
    border-color: var(--danger);
}

.cart.container.empty {
    text-align: center;
}

.cart.container.empty p {
    font-size: 18px;
}

.cart.container.empty a {
    width: 240px;
    margin: 16px auto;
}
