.history {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .6);
    border: 1px solid #efefef;
    border-radius: 4px;
    text-align: justify;
}

.founders {
    display: flex;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    box-shadow: 0px 4px 8px -4px rgba(0, 0, 0, .6);
    border: 1px solid #efefef;
    border-radius: 4px;
    text-align: justify;
}

.founders .infos {
    margin: 10px;
    padding: 5px;
}

.founders a {
    
    text-decoration: none;
    color: rgba(0, 0, 0, .9);
    transition: 200ms;
}

.founders a:hover {
    color: var( --color-secondary);
}

.history h2 {
    color: var(--color-primary);
    padding: 10px;
    text-align: center;
}

.history h3 {
    color: var( --color-secondary);
    padding: 15px;
    margin: 5px auto;
    text-align: center;
}
.history .text-history {
    padding: 10px;
}

.history p {    
    text-indent: 3em;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.photo {
    width: 148px;
    height: 148px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}