.card {
    background-color: #f5f5f5;
    width: 30%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.card a, h1, h4{
    display: inline-block;    
}

.card a {
    color: blue;
    transition: 200ms;
}

.list-group-item {
    background-color: #f5f5f5;
}

.card-img-top {    
    max-width: 100%;
    vertical-align: top;    
} 





