div {
    /* background-color: #f5f5f5; */
    /* display: flex; */
    width: 90%;
    margin: 10px auto;
    align-items: center;
    justify-content: center;
}

.my-products a{
    text-decoration: none;
}

.card a, h1, h4 {
    display: inline-block;
    text-decoration: none;
}



.new-product {
    background-color: #11d147;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;    
}

h2 {
    text-align: center;
}

/* .card a {
    color: blue;
    transition: 200ms;
} */

.list-group-item {
    background-color: #f5f5f5;
}

.card-img-top {
    max-width: 100%;
    vertical-align: top;
}

.table-container {
    display: block;
    padding: 40px;
    box-sizing: border-box;
}

.table-container table {
    border-spacing: 0;
}

.table-container thead tr th {
    text-align: left;
}

td, th {
    padding: 16px;
    border-bottom: 1px solid #d9d9d9;
}

th {
    text-transform: uppercase;
    color: #777;
    font-size: 14px;
}

tbody tr:last-child td {
    border-bottom: none;
}

tbody tr td:first-child {
    display: grid;
    grid-template-columns: 64px 1fr;
    align-items: center;
}

tbody tr td:first-child span {
    width: 48px;
    height: 48px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    box-shadow: 3px 1px 6px -4px black;
    border: 2px solid white;
}

tbody tr td:last-child a {
    background-color: #11d147;
    padding: 8px 16px;
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    font-size: 12px;
    border-radius: 4px;
}

.table-container thead tr th:last-child, td:last-child {
    text-align: center;
}